.profile-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 100px;
    padding: 0 20px;
    background-color: white;
    border-radius: 15px;
    height: 964px;
}

.profile-section-h2 {
    color: #5EC2B7;
    margin-bottom: 2rem;
    font-size: 1.8em;
    border-bottom: 2px solid #A4BFD5;
    padding-bottom: 0.5rem;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}


.sign-up-email, .contact-email, .phone {
    display: grid;
    grid-template-columns: 200px 1fr 40px;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.contact-email-button, .phone-button {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.profile-info-label {
    color: #5EC2B7;
    font-size: 1.2em;
    font-weight: 500;
    white-space: nowrap;
}

.info-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    overflow: hidden;
}

.info-container span {
    font-size: 1.1em;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.edit-icon {
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 20px;
    height: 20px;
}

.edit-icon:hover {
    transform: scale(1.2);
}

.change-password-button {
    width: 130px;
    height: 36px;
    border: none;
    background-color: #5EC2B7;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
} 

.change-password-button:hover {
    background-color: #64a398;
}

.logout-button {
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100px;
}

.logout-button:hover {
    background-color: #ff0000;
}

.logout-button:active {
    transform: scale(0.98);
}